@import url(./framework/popcorn.css);

/* Admin nav */
#adminNav{
    position: fixed;
    left:0;
    top: 0;
    height: 100vh;
    width: 12%;
    min-width: 150px;
    color: transparent;
    transform: translateX(-85%);
    transition: .7s;
    background-color: gray;
}
#adminNav:hover{
    transform: translateX(0);
    color: black;
}
#adminLinks{
    padding: 10%;
}

/* Main */
main{
    margin: 3vh 3% 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-divs{ 
    width: 40%;
    min-height: 40vh;
    margin-bottom: 5%;
    min-width: 420px;
}
main .title{
    text-align: center;
    padding-top: 1rem;
}

/* cards */

.table-titles{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.student-list{
    padding: 0;
    list-style: none;
    margin-top: .5rem;
}
.student{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.table-div{
    width: 30%;
}
h4{ 
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.form .select{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
}
.form .input-grid{
    display: grid;
    grid-template-columns: 100px 1fr;
    max-width: 90%;
    margin: auto;
}
.green{
    color: green;
}
.save-button{
    text-align: center;
}


/* MODALS */

#evaluate{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
}
.evaluation-box{
    width: fit-content;
    height: 70%;
    background-color: white;
}
.evaluation-box textarea{
    resize: none;
}
.evaluation-box .button-div{
    width: 30%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}
#evalWarning{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color: red;
}